asn1crypto==0.24.0
backports-abc==0.5
circus==0.12.1
cryptography==2.1.4
enum34==1.1.6
futures==3.2.0
gevent==1.2.2
gevent-websocket==0.9.3
greenlet==0.4.12
gyp==0.1
idna==2.6
iowait==0.1
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
pbr==3.1.1
psutil==5.4.2
psycopg2-binary==2.7.5
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.2
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.11.0
stevedore==1.28.0
tornado==4.5.3
virtualenv==15.1.0
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
